body {
    font-size: 200%;
    height: 100%;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    padding-bottom: 0;
}
#gameArea {
    min-height: 100%;
    margin: 0;
    padding-bottom: 0;
    overflow-x: hidden;
}
#bottomGameArea {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: lightsteelblue;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
#bottomGameArea > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 0 15px;
    flex: 1 0 min(100%, 235px);
    box-sizing: border-box;
}
#bottomGameArea:has(.inPower) {
    outline-width: 5px;
    outline-color: gold;
    outline-style: solid;
}
#pickPrompt {
    visibility: hidden;
}
.inPower > #pickPrompt {
    visibility: visible;
}
#bottomGameArea > div#goal {
    height: unset;
    padding: 15px;
}

#otherPlayers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.player {
    padding: 25px;
    background-color: lightsteelblue;
    border-radius: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 200px;
}
.player.inPower {
    outline-width: 5px;
    outline-color: gold;
    outline-style: solid;
}
.player > * {
    text-align: center;
}
.player > .displayHand {
    font-size: 200%;
    user-select: none;
    -webkit-user-select: none;
}
/* The Modal (background) */
#modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  /* Modal Content/Box */
#start-box-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: min(90%, 600px); /* Could be more or less, depending on screen size */
    border-radius: 5px;
    text-align: center;
}
#start-box-content > div {
    margin: 10px;
}
#gameSettings {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: row wrap;
    margin: 5px;
}
#gameSettings > div {
    text-align: right;
}

button {
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    margin: 10px;
    font-size: inherit;
}
input {
    font-size: inherit;
    border-radius: 5px;
    width: 10em;
}
input[type=number] {
    width: 2em;
}

.scaryJokers {
    color: darkred;
}

p {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
#resultHeadline {
    margin-bottom: 0.25em;
}
#nameBox {
    margin-top: 10px;
}